.wrapper .wrapper__complex{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    width: 100%;
}
.wrapper__top{
    display: flex;
    justify-content: space-between;  

}
.wrapper__inner{
    display: flex;
    gap: 9px;     
    justify-content: center;
}
.wrapper__title{
font-family: "Montserrat", sans-serif;
color: rgba(34, 34, 34, 1);
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0%;
        vertical-align: middle;
}
.wrapper__text{
    font-family: Roboto;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        color: rgba(1, 123, 166, 1);
}
.wrapper__list{
   padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
   
}
.wrapper__img{
    max-width: 210px;
}
.wrapper__pic{
    max-width: 250px;
}
.wrapper__paragraph{
    font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 12px; 
        letter-spacing: 0%;
        vertical-align: middle;
        text-transform: uppercase;
        color: rgba(51, 51, 51, 1);
}
.wrapper__item{
    max-width: 300px; 
     display: flex;
     flex-direction: column;
     gap: 0px;  align-items: start;
     justify-content: space-between;
     
     position: relative;
}
.wrapper__heading{
font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 17px;
        color: rgba(34, 34, 34, 1);
        vertical-align: middle;
        margin: 0;
}
.wrapper__box{
    display: flex;
    flex-direction: column;
    gap: 0px;
  
}
.wrapper__button{
    background: rgba(1, 158, 220, 1);
    max-width: 117px;
    padding: 16px 10px;
    text-align: center;
    color: white;
    border-radius: 2px;
    margin-top: 25px;
}
.wrapper__discount{
    background: rgba(255, 59, 59, 1);
    max-width: 68px;
    padding: 5px 2px;
    text-align: center;
    color: white;
    font-size: 12px;
    position: absolute;

}
.wrapper__info{
font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: rgba(34, 34, 34, 1);
        margin: 0;
}
@media(max-width:1198px){
    .wrapper__img{
        max-width: 180px;
    }
    .wrapper__item {
            max-width: 200px;
 
        }
        .wrapper__pic{
            max-width: 160px;
        }
}
@media(max-width:1198px) {
    .wrapper__img {
        max-width: 130px;
    }

    .wrapper__item {
        max-width: 120px;

    }
    .wrapper__info{
        font-size: 14px;
        max-width: 244px;
    }
}
@media(max-width:770px){
    .wrapper__item{
        max-width: 40%;
    }
    .wrapper__list{
        display: flex;
        flex-wrap: wrap;        
    }
    .wrapper__img{
        max-width: 330px;
    }
                .wrapper__pic {
                    max-width: 280px;
                }
}
@media(max-width:600px){
    .wrapper__pic {
            max-width: 240px;
        }
                 .wrapper__item {
                     max-width: 30%;
                 }
}
@media(max-width:575px) {
    .wrapper__pic {
        max-width: 200px;
    }

    .wrapper__item {
        max-width: 55%;
    }
}
@media(max-width:510px) {
        .wrapper__item {
                max-width: 50%;
            }
    .wrapper__pic {
        max-width: 120px;
    }
         .wrapper__img{
             max-width: 120px;
         }
}
@media(max-width:651px) {
    .wrapper__pic {
        max-width: 180px;
    }

    .wrapper__item {
        max-width: 50%;
    }
}

@media(max-width:390px){
    .wrapper__list{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .wrapper__item{
        max-width: 343px;
        display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
    }
    .wrapper__pic{
        max-width: 343px;
    }
        .wrapper__img {
            max-width: 343px;
        }
}
